.game .wrapper {
    display: flex;
    justify-content: center;
}



.game .connectionForm {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 400px;
}

.game .connectionForm input {
    width: 100%;
}

.game .maze_screen{
    height: 400px;
    width: 400px;
    border: 1px solid #000000;
}

.game .maze_controls{
    height: 100px;
    width: 400px;
    border: 1px solid #000000;
    border-top: 1px none;
}